* {
    background-color: #a4be5c;
    text-align: center;
}

h1 {
    color:rgb(255, 255, 255);
    font-family: sans-serif;
}

h2 {
    color:rgb(255, 255, 255);
    font-family: sans-serif;
}

h3 {
    color:rgb(255, 255, 255);
    font-family: sans-serif;
}

p {
    color:rgb(255, 255, 255);
    font-family: sans-serif;
}